.container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.brand {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  margin-right: auto;
} 
