.wrap {
  padding: 8px;
}

.container {
  padding: 8px 0;
}

.repositorySelect {
  width: 200px;
}

.repositorySelectDropdown {
  padding: 6px;
}

.todayContributionContainer {
  position: relative;
  width: 100%;
  min-height: 360px;
}

.todayContribution {
  font-size: 96px;
  line-height: 1.15;
}

.todayContributionGauge {
  position: absolute;
  margin: auto;
}

.commitAmount {
  text-align: center;
}

.commitButton {
  flex: 1;
}

.resetButton {
  align-self: flex-end;
}
